
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font: 14px/1.6 Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #66757f;
}

a {
	color: #292f33;
}

strong {
	font-weight: 500;
}

h1, h2, h3 {
	margin: 0;
	color: #292f33;
	font-weight: 500;
}

h1 {
	margin-top: 3rem;
	font-size: 1rem;

}

h2 {
	font-size: 1.5rem;
	margin-top: 3rem;
}

p {
	line-height: 1.8em;
	margin-top: 0.75rem;
	margin-bottom: 1.5rem;
}

.container {
	margin: 0 auto;
	padding: 40px;
	max-width: 1024px;
	width: 96%;
}

.title {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-bottom: 75px;
}

.title .text {
	margin: 0;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 1.3;
	font-size: 2.6rem;
}

.title .subtext {
	font-size: 1.1rem;
	font-weight: 100;
	width: 450px;
	color: #7E899B
}

.content img {
	width: 80%;
	margin: 50px 10%;
}

.search {
	width: 100%;
	height: 20vh;
	text-align: center;
}

.search input {
	margin: 0 auto;
	width: 50%;
	padding: 20px;
	border-radius: 5px;
	border: none;
	font-size: 1.2rem;
	font-weight: 100;
	background: HSL(195, 100%, 47%);
	color: white;
	outline: none;
	transition: width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.search input:focus {
	width: 52%;
}

.search input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .75)
}

.guide {
	margin-bottom: 150px;
}

.blocks {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	min-height: 50vh;
	background: #E6EDF4;
	padding: 1px;
}

.block {
	width: 33.33%;
	height: 350px;
	padding: 0 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	border-right: 1px solid #E6EDF4;
	border-bottom: 1px solid #E6EDF4;
	background: white;
}

.block .title {
	line-height: 3;
	font-size: 1.3rem;
	font-weight: 300;
	margin: 0;
}

.block .content {
	line-height: 1.8;
	color: #7E899B;
}

.block .read {
	line-height: 5;
	text-decoration: none;
	color: #16A2E0;
}

.block .read:hover {
	text-decoration: underline;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.error {
	margin: 0 auto;;
	width: 50%;
	padding: 30px 40px 30px 50px;
	animation: show 600ms ease-out forwards;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border: 1px solid #F12E65;
	background: #ff5988;
	color: white;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: flex-end;
	padding-top: 10px;
}

.logo {
	position: absolute;
	top: 50px;
	left: 50px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	user-select: none;
	cursor: default;
}

.logo a {
	text-decoration: none;
}

.logo a:hover {
	text-decoration: underline;
}

.logo .name {
	font-weight: bold;
	color: #1C2023;
}

.logo .subname {
	font-weight: 300;
	margin-left: 3px;
	color: #1C2023;
}

pre {
	border-top-color: #ddd;
	border-radius: 3px;
	font-size: .75rem;
	overflow-x: auto;
	line-height: 1.3;
	padding: 1.5rem;
	background: #fff;
	color: #333;
	overflow-x: auto;
	border: 1px solid #eee;
	border-bottom-color: #ddd;
	margin-bottom: 1.5rem;
}